/* BOX SIZING */
/* ------------------- */
/* CUSTOM PROPERTIES   */
/* ------------------- */

:root {
	/* COLORS */
	--clr-dark: #87fffb;
	--clr-light: #dff60a;
	--clr-accent: #c7332c;
	--clr-btn: #352066;
	--clr-black: 0 0% 0%;
	--clr-white: 0 0% 100%;

	/* FLUID TYPOGRAPHY */
	--fs-x-small: clamp(0.69rem, 0.59rem + 0.52vw, 0.96rem);
	--fs-small: clamp(0.83rem, 0.69rem + 0.72vw, 1.2rem);
	--fs-norm: clamp(1rem, 0.8rem + 0.98vw, 1.5rem);
	--fs-big: clamp(1.2rem, 0.94rem + 1.32vw, 1.88rem);
	--fs-x-big: clamp(1.44rem, 1.09rem + 1.76vw, 2.34rem);
	--fs-xl-big: clamp(1.73rem, 1.26rem + 2.35vw, 2.93rem);
	--fs-xxl-big: clamp(2.07rem, 1.45rem + 3.1vw, 3.66rem);
	--fs-xxxl-big: clamp(2.49rem, 1.67rem + 4.08vw, 4.58rem);
	--fs-uber-big: clamp(3rem, 2rem + 5vw, 7rem);

	/* FONT FAMILIES */
	--ff-sans-normal: 'Roboto', sans-serif;

	/* BORDER */
	--bw-all: 4px;
	--bw-top: 2px 4px 4px 4px;
	--bw-top-bot: 2px 4px 2px 4px;
	--bw-bot: 4px 4px 2px 4px;
	--bw-left: 4px 2px 4px 4px;
	--bw-left-right: 4px 2px 4px 2px;
	--bw-right: 4px 4px 4px 2px;
}

/* ------------------- */
/* RESET              */
/* ------------------- */

/* BOX SIZING */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* RESET MARGINS */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
	margin: 0;
}

/* /////////////////////////////////////////////////////////// */

/* SET UP THE BODY */
body {
	background-color: hsl(var(--clr-white));
	color: hsl(var(--clr-black));
	font-family: var(--ff-sans-normal);
	font-size: var(--fs-norm);
	line-height: 1.2;

	/* overflow-y: hidden; */
}

/* MAKE IMAGES EASIER TO WORK WITH */
img,
picture {
	display: block;
	max-width: 100%;
}

/* MAKE FORM ELEMENTS EASIER TO WORK WITH */
input,
button,
textarea,
select {
	font: inherit;
}

/* REMOVE ANIMATIONS FOR PEOPLE WHO HAVE TURNED THEM OFF */

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
/* ------------------- */
/* UTILITY CLASSES     */
/* ------------------- */

.flex {
	display: flex;
}

/* ASSIGN FLUID TYPOGRAPHY STEPS*/
.fs-8 {
	font-size: var(--fs-uber-big);
}
h1,
.fs-7 {
	font-size: var(--fs-xxxl-big);
}
h2,
.fs-6 {
	font-size: var(--fs-xxl-big);
}
h3,
.fs-5 {
	font-size: var(--fs-xl-big);
}
h4,
.fs-4 {
	font-size: var(--fs-x-big);
}
h5,
.fs-3 {
	font-size: var(--fs-big);
}
p,
.fs-2 {
	font-size: var(--fs-norm);
}
.fs-1 {
	font-size: var(--fs-small);
}
.fs-nav {
	font-size: var(--fs-small);
}

@media (min-width: 720px) and (max-width: 960px) {
	.fs-nav {
		font-size: 0.75rem;
	}
}

@media (max-width: 560px), (max-height: 560px) {
	h1,
	.fs-7 {
		font-size: var(--fs-xxl-big);
	}
	h2,
	.fs-6 {
		font-size: var(--fs-xl-big);
	}
	h3,
	.fs-5 {
		font-size: var(--fs-x-big);
	}
	h4,
	.fs-4 {
		font-size: var(--fs-big);
	}
}

@media (max-width: 400px), (max-height: 400px) {
	h1,
	.fs-7 {
		font-size: var(--fs-x-big);
	}
	h2,
	.fs-6 {
		font-size: var(--fs-big);
	}
	h3,
	.fs-5 {
		font-size: var(--fs-norm);
	}
	h4,
	.fs-4 {
		font-size: var(--fs-small);
	}
	h5,
	.fs-3 {
		font-size: var(--fs-small);
	}
	p,
	.fs-2 {
		font-size: var(--fs-x-small);
	}
}
.fs-7,
.fs-6,
.fs-5,
.fs-4 {
	line-height: 1.3;
}

/* /////////////////////////////////////////////////////////// */

/*  COLORS */

.bg-dark {
	background-color: hsl(var(--clr-dark));
}
.bg-light {
	background-color: hsl(var(--clr-light));
}
.bg-accent {
	background-color: hsl(var(--clr-accent));
}
.bg-white {
	background-color: hsl(var(--clr-white));
}
.bg-black {
	background-color: hsl(var(--clr-black));
}

.text-dark {
	color: var(--clr-dark);
}
.text-light {
	color: var(--clr-light);
}
.text-white {
	color: hsl(var(--clr-white));
}
.text-black {
	color: hsl(var(--clr-black));
}
/* /////////////////////////////////////////////////////////// */

/* TYPOGRAPHY */

.ff-sans-normal {
	font-family: var(--ff-sans-normal);
}

.letter-space-1 {
	letter-spacing: 5px;
}
.letter-space-2 {
	letter-spacing: 3px;
}
.letter-space-3 {
	letter-spacing: 2.5px;
}

.uppercase {
	text-transform: uppercase;
}

/* /////////////////////////////////////////////////////////// */

/* SPACING - MARGIN-TOP */

.flow > *:not(:first-child) {
	padding-top: 3vh;
}

.top-1 {
	padding-top: 1vh;
}
.top-2 {
	padding-top: 2vh;
}
.top-3 {
	padding-top: 3vh;
}
.top-6 {
	padding-top: 6vh;
}
.top-9 {
	padding-top: 9vh;
}

.bot-1 {
	padding-bottom: 1vh;
}
.bot-2 {
	padding-bottom: 2vh;
}
.bot-3 {
	padding-bottom: 3vh;
}
.bot-6 {
	padding-bottom: 6vh;
}
.bot-9 {
	padding-bottom: 9vh;
}

.border {
	border-style: solid;
	border-color: hsl(var(--clr-white));
	border-width: var(--bw-all);
}
/* /////////////////////////////////////////////////////////// */

/* ACCESSIBILITY */

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap; /* added line */
	width: 1px;
}

.skip-to-content {
	background-color: hsl(var(--clr-black));
	color: hsl(var(--clr-white));
	left: 1vw;
	padding: 0.2em 0.5em;
	position: absolute;
	transform: translateY(-100%);
	transition: transform 250ms ease-in;
	z-index: 9999;
}

.skip-to-content:focus {
	transform: translateY(16vh);
}

/* /////////////////////////////////////////////////////////// */

/* ------------------- */
/* PRIMARY HEADER      */
/* AND NAVIGATION      */
/* ------------------- */

.primary-navigation {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 8vh);
	background: black;
	gap: 3vh;
	inset: 0 0 0 50%;
	list-style: none;
	padding: 15vh 3rem;
	position: fixed;
	margin: 0;
	transform: translateX(130%);
	transition: transform 500ms ease-in-out;
	z-index: 1000;
}

.primary-navigation > .nav-item1 {
	grid-column: 1;
}

.primary-navigation[data-visible='true'] {
	transform: translateX(0);
}

.primary-navigation a {
	text-decoration: none;
}

.name-logo-01 {
	background: black;
	padding: 0 1vw;
}
.name-logo-02 {
	background: black;
	padding: 0 1vw;
}
nav {
	background: black;
}

.nav-item {
	border-bottom: 0.4vh solid hsl(var(--clr-white) / 0);
	text-align: center;
	padding: 1.4vh clamp(0.5rem, 1.8vw, 4.5rem) 1vh;
}

.nav-item > a {
	display: block;
	cursor: pointer;
}

.nav-item:hover,
.nav-item:focus {
	border-color: hsl(var(--clr-white) / 0.5);
}

.primary-navigation .active,
.primary-navigation > [aria-selected='true'] {
	border-color: hsl(var(--clr-white) / 1);
	color: hsl(var(--clr-white) / 1);
}

/* MOBILE NAV TOGGLE ////////// */

.mobile-nav-toggle {
	display: block;

	background: transparent;
	background-image: url(./images/icon-hamburger.svg);
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
	height: 1.5rem;
	position: absolute;
	right: 9vw;
	top: 3vh;
	width: 1.5rem;
	z-index: 2000;
}
.mobile-nav-toggle[aria-expanded='true'] {
	background-image: url(./images/icon-close.svg);
	position: fixed;
}

.mobile-nav-toggle:focus-visible {
	outline: 5px solid white;
	outline-offset: 5px;
}

/* NAVIGATION ON BIGGER SCREENS//////////////// */

@media (min-width: 720px) {
	.primary-navigation {
		grid-template-columns: 1fr repeat(4, auto);
		grid-template-rows: 1fr;

		align-items: center;
		background: hsl(var(--clr-white) / 0);
		justify-content: center;
		margin: 0;
		padding: 0.1vh 0 0 0;
		position: static;
		transform: none;
		transition: none;
	}

	.primary-navigation > *:first-child {
		grid-column: 2;
	}

	.mobile-nav-toggle {
		display: none;
	}
}
/* //////////////////////////////////////////////////////////////////////// */
/* ------------------- */
/* LAYOUT + SPACING    */
/* ------------------- */
/* //////////////////////////////////////////////////////////////////////// */

.section-wrap {
	display: grid;
	grid-template-columns: minmax(2rem, 1fr) minmax(0, 80rem) minmax(2rem, 1fr);
}

.section-wrap > *:first-child {
	grid-column: 2;
}

/* //////////////////////////////////////////////////////////////////////// */

.split-space-light {
	display: grid;
	grid-template-rows: 2vh;
	background: var(--clr-light);
}

.split-space-white {
	display: grid;
	grid-template-rows: 2vh;
	background: white;
}

.header-wrap {
	background: black;
	padding: 1vh 0;
}
.main-header {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
}

.hero-content {
	background: var(--clr-light);
}

.hero-content-wrap {
	display: grid;
	grid-template-rows: repeat(3, auto);

	place-items: center;
}

.bold-name {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: repeat(2, 1fr);
	background: var(--clr-light);
}

.patrick {
	grid-column: 2/3;
	border: 2px dotted black;
	text-align: center;
}

.watson {
	background: black;
	grid-column: 2/3;
	grid-row: 2/3;
	padding: 0 3vw;
}

.profile-pics-wrap {
	display: grid;
	justify-content: center;
	margin: 5vw 0;
	background: var(--clr-light);
}

.jobs-card-wrap {
	background: var(--clr-light);
	max-width: 70vw;
}

.gallery-title {
	text-align: center;
}

.img-gallery-wrap-left,
.img-gallery-wrap-right {
	display: grid;
	/* text-align: center; */
	place-items: center;
}

.gal-info-left,
.gal-info-right {
	padding: 0 2vw;
}

@media (min-width: 1200px) {
	.img-gallery-wrap-left {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-areas: 'one two';
		place-items: center;
	}

	.img-gallery-wrap-right {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-template-areas: 'one two';
		place-items: center;
	}

	.gal-info-right {
		grid-area: one;
	}
	.gal-img-right {
		grid-area: two;
	}

	.gal-info-left {
		grid-area: two;
	}
	.gal-img-left {
		grid-area: one;
	}
}

@media (min-width: 1000px) {
	.hero-content-wrap {
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(2, auto);
	}
	.profile-pics-wrap {
		grid-column: 2;
		grid-row: 1/3;
	}
	.bold-name {
		margin: 6vh 3vw;
	}
	.jobs-card-wrap {
		display: grid;
		grid-template-columns: 1fr;
		width: 40vw;
		margin-right: 2vw;
	}
}
